mixin HolidaysNextMonth 
  .card.h-100
    .card-header.border-0.pb-2.d-flex.justify-content-between.align-items-start
      div
        h3.text-body-highlight Holidays
        p.mb-sm-0.text-body-tertiary Holidays next month
      a(href="#!").btn.btn-sm.btn-phoenix-secondary.d-flex.align-items-center.w-max-content
        span.text-nowrap Calender
        span.fa-solid.fa-chevron-right.ms-2.fs-10
    .card-body 
      .echart-holidays-next-month(style='height: 100%; min-height: 300px; width: 100%')