mixin BookingValue
  h5.text-body.mb-4 Total Value
  .d-md-flex.flex-between-center
    .echart-booking-value.order-1.order-sm-0.order-md-1(style='height:54px; width: 90px')
    .mt-4.mt-md-0
      h3.text-body-highlight.mb-2 $2,345.00
      span.badge.badge-phoenix.badge-phoenix-primary.me-2.fs-10
        span.fa-solid.fa-plus.me-1
        | 23.35%
      span.fs-9.text-body-secondary.d-block.d-sm-inline.mt-1 From last month


mixin FlightBooking
  h5.text-body.mb-4 Booked Flights
  .d-md-flex.flex-between-center
    .d-md-flex.align-items-center.gap-2.order-sm-0.order-md-1
      span.fa-solid.fa-cloud-bolt.fs-5.text-warning-light.dark__text-opacity-75(data-bs-theme="light")
      .d-flex.d-md-block.gap-2.align-items-center.mt-1.mt-md-0
        p.fs-9.mb-0.mb-md-2.text-body-tertiary.text-nowrap Rain Chances
        h4.text-body-highlight.mb-0 95%
    .mt-3.mt-md-0
      h3.text-body-highlight.mb-2 1,432
      span.badge.badge-phoenix.badge-phoenix-success.me-2.fs-10
        span.fa-solid.fa-plus.me-1
        | 3.98%
      span.fs-9.text-body-secondary.text-nowrap.d-block.d-sm-inline.mt-1 From last month


mixin Commission
  h5.text-body.mb-4 Commission
  .d-md-flex.flex-between-center
    .echart-commission.order-sm-0.order-md-1(style="height: 54px; width: 54px")
    .mt-3.mt-md-0
      h3.text-body-highlight.mb-2 $3,339.00
      span.badge.badge-phoenix.badge-phoenix-danger.me-2.fs-10
        span.fa-solid.fa-minus.me-1
        | 12.21%
      span.fs-9.text-body-secondary.d-block.d-sm-inline.mt-1 From last month


mixin CancelBooking
  h5.text-body.mb-4 Canceled Booking
  .d-md-flex.flex-between-center
    .chart-cancel-booking.order-sm-0.order-md-1(style='height:54px; width:78px')
    .mt-3.mt-md-0
      h3.text-body-highlight.mb-2 120.00
      span.badge.badge-phoenix.badge-phoenix-danger.me-2.fs-10
        span.fa-solid.fa-plus.me-1
        | 5.76%
      span.fs-9.text-body-secondary.d-block.d-sm-inline.mt-1 From last month