extends ../index



append variables
  - var attrsHtml = Object.assign(attrsHtml, { 'data-navigation-type': "combo", 'data-navbar-horizontal-shape': "default" })
  - var disableNavigationType = true;
  - var disableHorizontalNavbarShape = true;

append headScripts
  if ENV === 'PROD'
    script.
      window.config.set({
        phoenixNavbarPosition: 'combo',
        phoenixNavbarTopShape: 'default',
        phoenixNavbarTopStyle: 'default'
      });

block navbarTop
  +NavbarCombo({
    toggleID: 'navbarVerticalCollapse',
    links: false,
    search: true
}).navbar-expand-lg

  if ENV === "PROD"
    script.
      var navbarVertical = document.querySelector('.navbar-vertical');
      navbarVertical.removeAttribute('style');

block afterWrapperContent