extends ../index


append variables
  - var attrsHtml = Object.assign(attrsHtml, {'data-navbar-horizontal-shape': "slim" })
  - 
    var attrsBody = {
      class: 'nav-slim'
    }

  - var disableNavigationType = true;
  - var disableHorizontalNavbarShape = true;

append headScripts
  if ENV === 'PROD'
    script.
      window.config.set({
        phoenixNavbarTopShape: 'slim',
        phoenixNavbarPosition: 'vertical',
        phoenixNavbarTopStyle: 'darker'
      });
  else 
    script.
      window.config.set({
        phoenixNavbarTopStyle: 'darker'
      });

block navbarTop
  +TopNavSlim({
    toggleID: 'navbarVerticalCollapse',
    links: false,
    search: true
    }).navbar-expand(data-navbar-appearance='darker')

  if ENV === "PROD"
    script.
      var navbarVertical = document.querySelector('.navbar-vertical');
      navbarVertical.removeAttribute('style');

block afterWrapperContent