extends ../index

append variables
  - var attrsHtml = Object.assign(attrsHtml, { 'data-navigation-type': "vertical", 'data-navbar-horizontal-shape': "default" })
  - var disableNavigationType = true;
  - var disableHorizontalNavbarShape = true;

append headScripts
  if ENV === 'PROD'
    script.
      window.config.set({
        phoenixNavbarPosition: 'vertical',
        phoenixNavbarTopShape: 'default',
        phoenixNavbarTopStyle: 'default'
      });

block afterWrapperContent