extends ../../../layouts/LayoutFlight
include ../../../mixins/travel-agency/flight/payment/FlightPaymentForm
include ../../../mixins/travel-agency/flight/payment/FlightPaymentInfo
include ../../../mixins/travel-agency/flight/FlightBookingWizard
include ../../../mixins/travel-agency/flight/FlightBottomBar

append variables
  - var disableNavigationType = true;
  - var disableHorizontalNavbarShape = true;
  - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarAppearance = true;
  - var attrsFooter = { class: 'd-none' }
  - var attrsSupportChat = {class: 'support-chat-bottom-lg'}
  - var activeNavItem = 'Payment';

prepend styles
  link(href=`${CWD}vendors/flatpickr/flatpickr.min.css`, rel='stylesheet')
  link(href=`${CWD}vendors/nouislider/nouislider.min.css`, rel='stylesheet')

prepend scripts
  script(src=`${CWD}vendors/flatpickr/flatpickr.min.js`)
  script(src=`${CWD}vendors/nouislider/nouislider.min.js`)

block flightContent
  +Section("container-small").pt-6.pb-9
    nav.mb-3(aria-label='breadcrumb')
      ol.breadcrumb.mb-0
        li.breadcrumb-item
          a(href='#') Page 1
        li.breadcrumb-item
          a(href='#') Page 2
        li.breadcrumb-item.active(aria-current='page') Default
    h2.mb-5 Payment
    .row.g-3.align-items-sm-center.justify-content-between.mb-5 
      .col-sm
        +FlightBookingWizard('Payment')
      .col-sm.text-sm-end
        p.mb-2.text-info Book before time runs out
        h3.mb-0.text-info.fw-bold.d-flex.gap-2.align-items-center.justify-content-sm-end 
          span.fa-solid.fa-clock.fs-8
          | 29 
          span.fs-9.fw-normal min 
          | 50 
          span.fs-9.fw-normal sec

    hr.mt-5.mb-6
    .row.g-0.gap-6 
      .col-lg 
        +FlightPaymentInfo
      .col-lg 
        +FlightPaymentForm.mb-9.mb-lg-0
    hr.mt-6.mb-9.d-none.d-lg-block

  +FlightBottomBar