extends layouts/LayoutTheme
include mixins/pages/insider/index
include mixins/landing/common/Navbar

append variables
  - var attrsBody = { style: "--phoenix-scroll-margin-top: 1.2rem;"};
  - var disableNavigationType = true;
  - var disableVerticalNavbarAppearance = true;
  - var disableHorizontalNavbarShape = true;
  - var disableHorizontalNavbarAppearance = true;
  - var hideSettingPanel = true;

block mainContent
  +InsiderNavbar
  +InsiderHeroHook
  +Insidersteps
  +InsiderSubHero
  +InsiderWhyItWorks
  +InsiderWhyFree
  +InsiderEmailSignup
  +InsiderWhoJoins
  +InsiderOurEdge
  +InsiderFooter
