mixin WidgetNavbar 
  .widgets-scrollspy-nav.mt-n5.bg-body-emphasis.z-5.mx-n4.mx-lg-n6.border-bottom
    nav#widgets-scrollspy.simplebar-scrollspy.navbar.py-0.scrollbar-overlay
      ul.nav.flex-nowrap
        li.nav-item 
          a(href="#scrollspyStats").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap Number Stats and Charts
        li.nav-item 
          a(href="#scrollspyTables").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap Tables, Files, and Lists
        li.nav-item 
          a(href="#scrollspyEcommerce").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap E-commerce
        li.nav-item 
          a(href="#scrollspyUsers").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap Users & Feed
        li.nav-item 
          a(href="#scrollspyForms").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap Forms
        li.nav-item 
          a(href="#scrollspyOthers").nav-link.text-body-tertiary.fw-bold.py-3.lh-1.text-nowrap Others