mixin Cta 
  section.pb-10.pt-3
    +Background({image: `${CWD}assets/img/bg/bg-left-32.png`, attrs: { style: { 'background-size': '26%','background-position':'left 115px'}}, className: "d-none d-xl-block"})
    +Background({image: `${CWD}assets/img/bg/bg-right-32.png`, attrs: { style: { 'background-size': '28%','background-position':'right -25px'}}, className: "d-none d-xl-block"})
    .container-medium.position-relative
      .row.g-0.justify-content-center
        .col-lg-10.col-xl-7
          .d-md-flex.align-items-center.gap-7.text-center.text-md-start
            img(src=`${CWD}assets/img/spot-illustrations/40.png`, width=260 alt="").mb-4.mb-md-0.d-dark-none
            img(src=`${CWD}assets/img/spot-illustrations/dark_40.png`, width=260 alt="").mb-4.mb-md-0.d-light-none
            .flex-1
              h3.mb-0 Get Updates & More
              p.mb-4.text-body-tertiary Subscribe to our newsletter to stay updated.
              form.d-flex.justify-content-center
                input.form-control.me-3#ctaEmail1(type='email' placeholder='Email' aria-describedby='ctaEmail1')
                button.btn.btn-primary.d-flex.align-items-center(type='submit') 
                  | Subscribe
                  span.fa-solid.fa-chevron-right.ms-2.fs-9