mixin FooterLanding
  +Section("container-medium").booking-footer.pb-6.pb-md-11.pt-15
    .row.gy-3.justify-content-between.align-items-center
      .col-auto
        a(href="#!")
          img(src=`${CWD}assets/img/icons/logo-1.png`, alt="")
      .col-auto 
        ul.mb-0.list-unstyled.d-flex.flex-wrap
          li.me-3.me-sm-5
            a.fs-8.fw-bold.text-white(href="#!") Home
          li.me-3.me-sm-5
            a.fs-8.fw-bold.text-white(href="#!") About
          li.me-3.me-sm-5
            a.fs-8.fw-bold.text-white(href="#!") Contact
          li.me-3.me-sm-5
            a.fs-8.fw-bold.text-white(href="#!") FAQ
          li
            a.fs-8.fw-bold.text-white(href="#!") Gallery
    hr.my-4
    .row.gy-3.justify-content-between
      .col-auto 
        a(href="#!").text-white.me-4
          span.fa-brands.fa-facebook-f 
        a(href="#!").text-white.me-4
          span.fa-brands.fa-twitter
        a(href="#!").text-white.me-4
          span.fa-brands.fa-linkedin-in
        a(href="#!").text-white
          span.fa-brands.fa-behance
      .col-auto 
        p.mb-0.text-white Thank you for creating with Phoenix | 2023 © 
          a.text-white(href="https://themewagon.com/") Themewagon