mixin ShadowsExamples
  .shadow-none.p-3.mb-5.bg-body-highlight.rounded No shadow
  .shadow-sm.p-3.mb-5.bg-body-highlight.rounded Small shadow
  .shadow.p-3.mb-5.bg-body-highlight.rounded Regular shadow
  .shadow-lg.p-3.mb-5.bg-body-highlight.rounded Larger shadow

