mixin HotelSearch({background})
  .container-medium-md(class=`${background===true ? "px-0 px-md-3" : "px-0"}`)
    div(class=`${background===true ? "px-3 py-8 position-relative" : ""}`)
      if background === true
        +Background({
          image: `${CWD}assets/img/bg/42.png`,
          className: 'overlay rounded-md-2',
          attrs: {
            style: 'background-position: center; background-size: cover',
          }
        })
      .row.gx-0.gy-3.gy-md-0.align-items-center.mx-auto.p-3.bg-body-emphasis.rounded-5.rounded-md-pill.position-relative.border(class=`${background === true ? "w-lg-75" : ""}`)
        .col-12.col-md
          .form-icon-container.border-bottom.border-bottom-md-0.border-translucent.pb-3.pb-md-0
            input.form-control.form-icon-input.border-0.py-0.shadow-none.fs-8(type="text" placeholder="Pick a place")
            span.fa-solid.fa-map-marker-alt.form-icon.text-body-tertiary.top-0(data-fa-transform='down-2')
        .col-6.col-md
          .form-icon-container.flatpickr-input-container
            input.form-control.datetimepicker.form-icon-input.border-y-0.border-start-0.border-start-md.py-0.shadow-none.border-translucent.fs-8.rounded-0(type="text" placeholder='Pick a date' data-options!={mode:'range', dateFormat:'d/m/y',disableMobile:true})
            span.fa-solid.fa-calendar.form-icon.top-0.text-body-tertiary(data-fa-transform='down-2')
        .col-6.col-md
          button.btn.px-3.fs-8.fw-semibold.text-body-tertiary(type='button' data-bs-toggle='dropdown' aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside")
            span.fa-solid.fa-user.me-2
            | 1 adult
          .dropdown-menu.dropdown-menu-start.p-4(style='max-width: 320px')
            .row.align-items-center.g-0.pb-3.border-bottom.border-translucent
              .col-5
                h5.mb-0.text-body Adults
              .col-7
                .input-group.gap-2(data-quantity)
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="minus")
                    span.fa-solid.fa-minus.px-1
                  input.form-control.border-translucent.input-spin-none.text-center.rounded(id="adults" type="number" value='2')
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="plus")
                    span.fa-solid.fa-plus.px-1
            .row.align-items-center.g-0.py-3.border-bottom.border-translucent
              .col-5
                h5.mb-0.text-body Infants
              .col-7
                .input-group.gap-2(data-quantity)
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="minus")
                    span.fa-solid.fa-minus.px-1
                  input.form-control.border-translucent.input-spin-none.text-center.rounded(id="infants" type="number" value='2')
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="plus")
                    span.fa-solid.fa-plus.px-1
            .row.align-items-center.g-0.pt-3
              .col-5
                h5.mb-0.text-body Children
              .col-7
                .input-group.gap-2(data-quantity)
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="minus")
                    span.fa-solid.fa-minus.px-1
                  input.form-control.border-translucent.input-spin-none.text-center.rounded(id="children" type="number" value='2')
                  button.btn.btn-phoenix-primary.px-2.rounded(data-type="plus")
                    span.fa-solid.fa-plus.px-1
        .col-12.col-md-auto
          button.btn.btn-lg.btn-phoenix-primary.rounded-pill.w-100
            span.fa-solid.fa-search.me-2
            | Search