extends LayoutTheme
include ../mixins/travel-agency/common/TopNavbar
include ../mixins/travel-agency/common/Navbar
include ../mixins/travel-agency/common/FooterLinks
include ../mixins/travel-agency/hotel/HotelFooter

append variables
  - var attrsFooter = { class: 'position-relative'}

block mainContent
  +TopNavbar('Hotel')
  +Navbar('hotel')
  block hotelContent

  block hotelFooter
    +HotelFooter.mb-5.mb-md-7.mb-lg-9

  .container-medium
    +FooterLinks.mb-3
    +Footer.px-0

  block supportChat
    +SupportChat