mixin CardBasicDemo
  .card.overflow-hidden(style='max-width: 20rem;')
    .card-img-top.jhj
      = '\n'
      img.img-fluid(src=`${CWD}assets/img/generic/1.jpg`, alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      = '\n'
      a.btn.btn-primary.btn-sm(href='#!') Go somewhere
